$primary:#5265E1;
$secondary:#FA5959;
$dark: #22203b;

$accordion-button-icon: url("../img/icon-arrow.svg");
$accordion-button-active-icon:  url("../img/icon-arrow.svg");

@import "../node_modules/bootstrap/scss/bootstrap";

body{
    margin-top: 200px;
}

.nav-link{
    color: $gray-600;
}

.nav-link:hover{
    color: $secondary;
}

.nav-foot-link{
    color:white;
}

.nav-underline .nav-link.active, .nav-underline .show > .nav-link {
    border-bottom-color: $secondary;
}

.nav-tabs .nav-link {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.taca{
    height: 70%;
    width: 120%;
    z-index: -1;
    top: 30%;
    left: 30%;
}

.tacaInversa{
    height: 60%;
    width: 120%;
    z-index: -1;
    top: 40%;
    left: -50%;
}


.card1{
    margin-top: 0;
    margin-bottom: 10%;
    max-width: 280px;
}

.card2{
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 280px;
}

.card3{
    margin-top:10%;
    margin-bottom: 0;
    max-width: 280px;
}

.accordion-flush .accordion-item:first-child {
 border-top: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}

.accordion-flush .accordion-item:last-child {
    border-bottom: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}

#btnContact{
    width: 100%;
} 

#navBarBottom{
    color: white;    
}

.navbar-toggler-icon {
    background-image: url("../img/icon-hamburger.svg");
}

.btn-login{
    color: white;
}

.btn-login:hover{
    border: 1px solid $secondary;
    background-color: white;
    color: $secondary;
}

.btn-main-1:hover{
    border: 1px solid $primary;
    background-color: white;
    color: $primary;

}

.btn-main-2:hover{
    border: 1px solid $dark;
    background-color: white;
    color: $dark;
}

.card-body .btn:hover{
    border: 1px solid $primary;
    background-color: white;
    color: $primary;
}

@media only screen and (max-width: 1400px ){}
@media only screen and (max-width: 1200px ){

}
@media only screen and (max-width: 992px ){}
@media only screen and (max-width: 768px ){
    
    .card1{
        width: 80%;
        margin: 5% auto;

    }
    
    .card2{
        width: 80%;
        margin: 5% auto;
    
    }
    
    .card3{
        width: 80%;
        margin: 5% auto;
    }

}
@media only screen and (max-width: 576px ){
    
    .card1{
        width: 80%;
        margin: 5% auto;
    }
    
    .card2{
        width: 80%;
        margin: 5% auto;
    
    }
    
    .card3{
        width: 80%;
        margin: 5% auto;
    
    }
}

